<div>
	<h3>Definition for the word: <%= @word %></h3>
	<form action="/find_word" method="post">
		<% if @definitions.blank? %>
			<p>There are no known definitions.</p>
		<% else %>
			<% count = 1 %>
				<% @definitions.each do |word| %>
					<div id="definition_for_word_<%= @word %>" class="definition">
						<p><u>Definition <%= count %></u></p>
						<p>Definition comes from: <%= word["attributionText"] %></p>
						<p>Definition is: <%= word["text"] %></p>
					</div>
					<% count+=1 %>
				<% end %>
		<% end %>
		<input type="hidden" name="word" value="<%= @original_word %>">
		<input type="submit" value="Go Back">
		<a href="/">Enter a new word</a>
	</form>
</div>